*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/node_modules
/ios/Pods
/ios/native-ios.xcworkspace/xcuserdata/
/ios/native-ios.xcodeproj/xcuserdata/
/ios/native-ios.xcworkspace/xcshareddata/
/ios/build
/ios/assets
/ios/index.jsbundle

/android/local.properties
/android/.idea
